database/
outputs/
temp/

__pycache__/
*.py[cod]
*.so

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.npy
*.npz
*.pkl
*.pt
*.pth
*.ckpt
*.onnx
*.h5
*.hdf5
*.joblib

*.wav
*.mp3
*.flac
*.ogg
*.m4a
*.mp4
*.avi
*.mov

*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
